---
siteTitle: The Cosplayer's Workshop
---

{% assign categories = collections.categories | sort %}

<!DOCTYPE HTML>
<!--
Editorial by Pixelarity
pixelarity.com | hello@pixelarity.com
License: pixelarity.com/license
-->
<html>

<head>
  <title>{{ siteTitle }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="generator" content="{{ eleventyinfo.generatorStr }}" />
  <link rel="stylesheet" href="{{ "/" | htmlBaseUrl }}assets/css/main.css" />
  <link rel="stylesheet" href="{{ "/" | htmlBaseUrl }}assets/css/scott.css" />
  {% include 'google-analytics.html' %}
</head>

<body class="is-preload">
  <div id="wrapper">
    <div id="main">
      <div class="inner">
        <header id="header">
          <a href="{{ " /" | htmlBaseUrl }}index.html" class="logo">The Cosplayer's Workshop</a>
        </header>

        {{ content }}

      </div>
    </div>

    <div id="sidebar">
      <div class="inner">
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
            <li>
              <a href="{{ " /" | htmlBaseUrl }}">Home</a>
            </li>
            <li>
              <a href="{{ " /" | htmlBaseUrl }}categories/">Categories</a>
            </li>
            <li>
              <a href="{{ " /" | htmlBaseUrl }}about/">About</a>
            </li>
          </ul>
        </nav>

        <section>
          <header class="major">
            <h2>Additional Information</h2>
          </header>
          <ul class="contact">
            <li class="icon brands fa-github">
              <a href="https://github.com/johnwargo/cosplayer-workshop-11ty" target="_blank">
                Site Source
              </a>
            </li>
            <li class="icon solid fa-envelope">
              <a
                href="mailto:&#106;&#111;&#104;&#110;&#064;&#106;&#111;&#104;&#110;&#119;&#097;&#114;&#103;&#111;&#046;&#099;&#111;&#109;">John
                Wargo</a>
            </li>
            <li class="icon brands fa-chrome">
              <a href="https://johnwargo.com" target="_blank">
                Website
              </a>
            </li>
            <li class="icon solid fa-code">
              <a href="https://johnwargo.io" target="_blank">
                Code Projects
              </a>
            </li>
            <li class="icon solid fa-book">
              <a href="https://johnwargobooks.com" target="_blank">
                Books
              </a>
            </li>
          </ul>
        </section>

        <footer id="footer">
          <p class="copyright">&copy;
            <a href="https://about.me/johnwargo" target="_blank">John M. Wargo</a>, All Rights Reserved
          </p>
        </footer>
      </div>
    </div>
  </div>

  <script src="{{ " /" | htmlBaseUrl }}assets/js/jquery.min.js"></script>
  <script src="{{ " /" | htmlBaseUrl }}assets/js/browser.min.js"></script>
  <script src="{{ " /" | htmlBaseUrl }}assets/js/breakpoints.min.js"></script>
  <script src="{{ " /" | htmlBaseUrl }}assets/js/util.js"></script>
  <script src="{{ " /" | htmlBaseUrl }}assets/js/main.js"></script>

</body>

</html>