---
layout: main
pagination:
  data: collections.categories
  size: 1
  alias: category
permalink: "/category/{{ category | slugify }}/index.html"
eleventyComputed:
  title: "Category: {{ category }}" 
eleventyNavigation:
  key: "{{ category }}"
  parent : Categories
---

<p>This page contains links to all Posts assigned the
  <strong>{{ category | capitalize }}</strong>
  category in reverse chronological order.</p>

{% assign posts = collections.post | filterByCategory: category %}
{% for post in posts reversed %}
  <p>
    <a href="{{post.url}}">{{ post.data.title }}</a>
    - {{ post.date }}<br/>
    {% excerpt post %}
  </p>
{% endfor %}