---
title: Categories
description: Displays a list of all post categories on the site. From here you can click a link to open a page displaying all of the posts for the particular category.
layout: default
---

{% assign categories = categoryData | sort %}

<section id="banner">
  <div class="content">
    <header>
      <h1>{{ title }}</h1>
      <p>View all posts for a particular category by clicking on one of the categories listed below. There are {{ categories.length }} categories on the site today.</p>
    </header>

    {% if categories.length > 0 %}
      <table>
        {% tablerow catData in categories cols:2 %}
           <h4>
              <a href="{{ "/" | htmlBaseUrl }}categories/{{ catData.category | slugify }}/">{{ catData.category }}</a>
            </h4>
            Count: {{ catData.count }}
            {% if catData.description.length > 0 %}
              |
              {{ catData.description }}
            {% endif %}
        {% endtablerow %}
      </table>  
    {% else %}
        <p>No category data to display</p>
    {% endif %} 
  </div>
</section>
