---
title: Categories
description: Displays a list of all post categories on the site. From here you can click a link to open a page displaying all of the posts for the particular category.
layout: default
---

{% assign categories = categoryData | sort %}

<section id="banner">
  <div class="content">
    <h2>{{ title }}</h2>
    <p>View all posts for a particular category by clicking on one of the categories listed below. There are {{
      categories.length }} categories on the site today.</p>

    {% if categories.length > 0 %}
      {% for catData in categories %}
        <p>
          <a href="{{ "/" | htmlBaseUrl }}categories/{{ catData.category | slugify }}">{{ catData.category }}</a>
          ({{ catData.count }} posts)
          {% if catData.description %}
            <br/>
            {{ catData.description }}
          {% endif %}
        </p>
      {% endfor %}   
    {% else %}
    <p>No category data to display</p>
    {% endif %}
  </div>
</section>